<ul>
    <li>
        <a href="{{ path('app_game_show') }}">Jeu</a>
    </li>
    <li>
        <a href="#">S'enregistrer</a>
    </li>
    <li>
        <a href="#">Se déconnecter</a>
    </li>
    <li>
        <a href="{{ path('contact') }}">Nous contacter</a>
    </li>
</ul>